html {
    font-family: nunito;
}

#chat-box {
    width: 900px;

    background-color: red;
}

.message-meta {
    width: 180px;
    display: flex;
    justify-content: space-between;

    font-weight: bold;
}

#message-input {
    width: 100%;
}